body {
    margin: 0;
}

.w-md-editor-text,
.w-md-editor-text textarea {
    height: fit-content;
    min-height: 100% !important;
}

.language-markdown .code-highlight,
.w-md-editor-text textarea {
    font-size: 17px !important;
    line-height: 1.3 !important;
    /* font-family: "Fira Code", monospace !important; */
    letter-spacing: 1px;
}

/* .w-md-editor-text textarea {
    font-size: 20px !important;
    line-height: 1.5 !important;
    font-family: "Fira Code", monospace !important;
} */
